<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="static/jquery.js" type="text/javascript"></script>
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
  <script src="{{ static_url("robot.js") }}" type="text/javascript"></script>
  <title>ArmLogic Control</title>
  <!--    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">-->

  <script src="static/joy.js"></script>

  <style type="text/css">
    .joystick {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #eee;
    }

    .joystick .handle {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: rgb(201, 44, 44);
      border: 1px solid rgb(107, 35, 35);
      border-radius: 15px;
    }
    .target_pwm {
      width: 50px;
    }

  </style>

</head>

<body>
  <div id"page">

  <table border="1" width="100%" cellspacing="0">
      <tr bgcolor="#9F9F9F">
          <td colspan="2" align="center">
              {% for sID in [0,1,2,3,4] %} 
              <input type="number" class="target_pwm" id="pwmvalL{{sID}}" value="1500" step="10" pattern="\d+">
              {% end %}
          </td>
        <td align="center"><input type="button" value="Update" class="cmd_button"><br></td>
          <td colspan="2" align="center">
              {% for sID in [0,1,2,3,4] %} 
            <input type="number" class="target_pwm" id="pwmvalR{{sID}}" value="1500" step="10" pattern="\d+">
          {% end %}
          </td>
      </tr>
    <tr>
      <td colspan="2" align="center">
        LEFT
      </td>
      <td></td>
      <td  colspan="2" align="center">
          RIGHT
      </td>
    </tr>
    <tr>
      <td align="center">
        <div>Arm - Forearm</div>
        <div class="joystick" id="arm_forearm_l">
          <div class="handle"></div>
        </div>
      </td>
      <td align="center">
        <div>Wrist - Hand</div>
        <div class="joystick" id="wrist_forearm_l">
          <div class="handle"></div>
        </div>
      </td>
      <td align="center"><input type="button" value="Home" class="cmd_button"><br></td>
        <td align="center">
          <div>Wrist - Hand</div>
          <div class="joystick" id="wrist_forearm_r">
            <div class="handle"></div>
          </div>
        </td>
            <td align="center">
          <div>Arm - Forearm</div>
          <div class="joystick" id="arm_forearm_r">
            <div class="handle"></div>
          </div>
        </td>
    
    </tr>
    
    <tr>
      <td align="center">
        <div>Base</div>
        <div class="joystick" id="base_l">
          <div class="handle"></div>
        </div>
      </td>

      <td align="center">
        <div>Shoulder</div>
        <div class="joystick" id="shoulder_l">
          <div class="handle"></div>
        </div>
      </td>

      <td  align="center"><input type="button" value="Save" class="cmd_button"><br></td>

      <td align="center">
        <div>Shoulder</div>
        <div class="joystick" id="shoulder_r">
          <div class="handle"></div>
        </div>
      </td>

      <td align="center">
        <div>Base</div>
        <div class="joystick" id="base_r">
          <div class="handle"></div>
        </div>
      </td>
    </tr>
  </table>

  <hr>
    <input type="number" class="arm_param" id="set_speed" value="100" pattern="\d+">  
    <br>
    <input type="button" value="led" class="cmd_button"><br>

    <hr>
  <input type="button" value="Save as" class="cmd_button">        <input type="text" id="save_filename" value="new_sequence"><br>
  <hr>
  <input type="button" value="Load file" class="cmd_button">
  <select name="sequency_file_list" id="load_file">
      {% for file in seq_files %}
          <option value="{{ file }}">{{ file }}</option>
      {% end %}
  </select>
  <td  align="center"><input type="button" value="Play" class="cmd_button"><br></td>
  <br>
  <hr>
  <input type="button" value="Reset Sequence" class="cmd_button"><br>
  <hr>
  <input type="button" value="Set Home" class="cmd_button"><br>
  <br>
  <br>
  <input type="button" value="Delete Sequence" class="cmd_button"><br>
  
</div>
</body>
</html>